body {
  margin: 0;
  padding: 20;
  background-color: rgb(247, 244, 242);

}

header {
  padding: 15px 30px;
  background-color: rgb(237, 218, 218);
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: #252727;
}

#categories{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 10px;
    background-color: rgb(227, 222, 222);
    padding: 10px;
    border-bottom: 2px solid red;
}


/* .cat-btn{
    background-color: none;
    border: none;
    font-weight: bold;
    padding: 6px 14 px;
    cursor: pointer;
    border-radius: 5px;
} */
/* .cat-btn-active{
    background-color: #008080;
    color: white;
} */
.filter-content{
    display: flex;
    padding: 20px;
    gap: 20px;
}
.filter-panel label{
    display: block;
    margin: 10px 0;
}
.products-grid {
    max-width: 1000px;
    display: grid !important;
    grid-template-columns:repeat(auto-fit,minmax(250px, 1fr))!important;
    gap: 20px;
    padding: 20px;
}

.products-card {
    width: 20vw;
    height: auto;
    background-color: white;
    padding: 3%;
    border-radius: 10px;
    margin-bottom: 2%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    cursor: pointer;

}
.products-card:hover{
    width: 21vw;
    height: auto;
    box-shadow: 0 25px 25px rgba(32, 31, 31, 0.1);
}

.product-img {
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.products-card h3 {
    margin-top: 0;
}
.products-card button{
    width: 300px;
    height: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tag{
    padding: 8px 0;
}
button {
    margin-top: 10px;
    padding: 8px 12px;
    background: #008080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #006666;
}




.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  width: 100%;
  height: 50px;
  background-color: #333;
  color: white;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.brand-logo {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  cursor: pointer;
}

.nav-links li a:hover {
  color: #4caf50;
}







